In [3]:
import sys

sys.path.insert(0, "/notebooks/notebooks/ner-accidente")
!pwd

/notebooks/notebooks/ner-accidente/notebooks

In [4]:
%load_ext autoreload
%autoreload 2
from scripts.nlp.dataset import readDF

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [14]:
readDF('data/file.csv')

'readfile1'

In [5]:
/results/ex_x/result.txt - parametri/rezultatele

SyntaxError: invalid syntax (<ipython-input-5-3210f34c36c1>, line 1)

In [31]:

# import pandas as pd 
import pandas as pd  
    
# List1  
lst = [['tom', 25], ['krish', 30], 
       ['nick', 26], ['juli', 22]] 
    
df = pd.DataFrame(lst, columns =['Name', 'Age']) 
df

    Name  Age
0    tom   25
1  krish   30
2   nick   26
3   juli   22

In [34]:

def concat(a,b):
    return a + str(b)

df['c'] = df[['Age','Name']].apply(lambda x: concat(x['Name'],x['Age']+1), axis=1)
df

    Name  Age        c
0    tom   25    tom26
1  krish   30  krish31
2   nick   26   nick27
3   juli   22   juli23

In [35]:
df['Age'].mean()

25.75

* calculate recall for each row
* take the mean for entire df

In [36]:
listName = []
df["Name"].apply(lambda x: listName.append(x))
listName

['tom', 'krish', 'nick', 'juli']

In [39]:
df['a'] = [1,2,2,1]# range(4)

In [40]:
df

    Name  Age        c  a
0    tom   25    tom26  1
1  krish   30  krish31  2
2   nick   26   nick27  2
3   juli   22   juli23  1

In [ ]:
df['pred'] = df['text'].apply(lambda x: nlp(x))# se poate si .apply(nlp)
df['y_pred'] = df['pred'].apply(lambda x: spacy2y(x))#
df['y_true'] = df['bars'].apply(bars2y)
df['recall'] = df[['y_true','y_pred']].apply(lambda x: calc_recall(x['y_true'], x['y_pred']), axis=1)
print('recall', df['recall'].mean())

In [ ]:
df.sort_values(['recall'], reverse=True)[['bars','y_pred']].head()#vezi exemple cu recall cel mai mare/mic