In [1]:
import os
import sys
import string
# # for natural language processing: named entity recognition
# import spacy
# from spacy.displacy.render import EntityRenderer
# from IPython.core.display import display, HTML

# Other package imports
import numpy as np
import pandas as pd

%load_ext autoreload
%autoreload 2

In [2]:
# import our dataSet for analysis
path = os.path.join('../data', 'raw', 'ner - locatia accidente_WITH_GENERATED2.csv')
df = pd.read_csv(path)

# import the function that are to be used in scripts
sys.path.insert(0, "../scripts")

print(df.shape)

(1653, 4)

In [3]:
from nlp.utils import bars2spacy

if 'ENT_POS' in df.columns:
    df = df.drop(columns='ENT_POS')
    
df["ENT_POS"] = df['text'].apply(bars2spacy)

df

,id,y,text,com,ENT_POS
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT..."
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID..."
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]"
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]"
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]"
...,...,...,...,...,...
1648,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT..."
1649,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT..."
1650,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT..."
1651,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT..."
1652,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT..."

In [4]:
from nlp.utils import bars2y

if 'BARS2Y' in df.columns:
    df = df.drop(columns='BARS2Y')
    
df["BARS2Y"] = df['text'].apply(bars2y)

df

,id,y,text,com,ENT_POS,BARS2Y
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, ..."
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0]"
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ..."
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]"
...,...,...,...,...,...,...
1648,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, ..."
1649,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1]"
1650,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, ..."
1651,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1652,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [5]:
from nlp.utils import bars2yLetters


if 'BARS2YLETTERS' in df.columns:
    df = df.drop(columns='BARS2YLETTERS')
    
df["BARS2YLETTERS"] = df['text'].apply(bars2yLetters)

df

,id,y,text,com,ENT_POS,BARS2Y,BARS2YLETTERS
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, ...",----------------------------------------------...
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",----------------------------------------------...
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0]",---------------------------------------------+...
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...",----------------------------------------------...
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]",-------------------------------------------+++...
...,...,...,...,...,...,...,...
1648,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, ...",----------------------------------------------...
1649,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1]",---------------------------+++++++++++-+++-++-...
1650,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, ...",----------------------------------------------...
1651,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",-------------------------++++++++++-++++++-+++...
1652,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ...",----------------------------------++++++-+++++...

In [6]:
def yLetters2bars(text, yLetters):
    """
    input: 
    - aa bb cb db eb
    - ---++----++---
    output: aa ||bb|| cb ||db|| eb
    """

    """
    input: aa ||bb|| cb ||db|| eb
    output: ---++----++---
    """
    print()


# axis = 0: by column = column-wise = along the rows
# axis = 1: by row = row-wise = along the columns
if 'YLETTERS2BARS' in df.columns:
    df = df.drop(columns='YLETTERS2BARS')
    
df["YLETTERS2BARS"] = df[['text','BARS2YLETTERS']].apply(yLetters2bars)

df

TypeError: yLetters2bars() missing 1 required positional argument: 'yLetters'

In [ ]:
def yLetters2spacy(text, yLetters):
    """
    input: 
    - aa bb cb db eb
    - ---++----++---
    output: [(3,5,'POS'), (8,9,'POS')]
    """
    pass

In [ ]:
def y2bars(y, text):
    """
    input: 
    - [0,1,0,1,0]
    - a b c d e
    output: a ||b|| c ||d|| e
    """
    pass

In [ ]:
def spacy2bars(entities, text):
    """
    input: 
    - [(2,3,'POS'), (4,5,'POS')]
    - a b c d e
    output: a ||b|| c ||d|| e
    """
    pass

In [ ]:
def spacy2y(entities, text):
    """
    input: 
    - [(2,3,'POS'), (4,5,'POS')]
    - a b c d e
    output: [0,1,0,1,0]
    """
    pass

In [ ]:
def y2spacy(text, y):
    """
    input: 
    - [0,1,0,1,0]
    - a b c d e
    output: [(2,3,'POS'), (4,5,'POS')]
    """
    pass

In [ ]:
def calculate_recall(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [ ]:
def calculate_acc(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [ ]:
def calculate_acc_ignore0(y_pred, y_true):
    """calculate the accuracy just for the non-zero tokens
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [ ]:
def calculate_confusion_matrix(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [ ]:
def calculate_precision(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass