In [1]:
import os
import sys
import string
# # for natural language processing: named entity recognition
# import spacy
# from spacy.displacy.render import EntityRenderer
# from IPython.core.display import display, HTML

# Other package imports
import pandas as pd

%load_ext autoreload
%autoreload 2

In [2]:
# import our dataSet for analysis
path = os.path.join('../data', 'raw', 'ner - locatia accidente_WITH_GENERATED2.csv')
df = pd.read_csv(path)

# import the function that are to be used in scripts
sys.path.insert(0, "../scripts")

print(df.shape)

(1652, 4)

In [3]:
from nlp.utils import bars2spacy

if 'ENT_POS' in df.columns:
    df = df.drop(columns='ENT_POS')
    
df["ENT_POS"] = df['text'].apply(bars2spacy)

df

,id,y,text,com,ENT_POS
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT..."
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID..."
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]"
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]"
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]"
...,...,...,...,...,...
1647,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT..."
1648,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT..."
1649,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT..."
1650,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT..."
1651,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT..."

In [4]:
from nlp.utils import bars2y

if 'BARS2Y' in df.columns:
    df = df.drop(columns='BARS2Y')
    
df["BARS2Y"] = df['text'].apply(bars2y)

df

,id,y,text,com,ENT_POS,BARS2Y
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, ..."
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0]"
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ..."
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]"
...,...,...,...,...,...,...
1647,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, ..."
1648,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1]"
1649,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, ..."
1650,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1651,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [5]:
from nlp.utils import bars2yLetters


if 'BARS2YLETTERS' in df.columns:
    df = df.drop(columns='BARS2YLETTERS')
    
df["BARS2YLETTERS"] = df['text'].apply(bars2yLetters)

df

,id,y,text,com,ENT_POS,BARS2Y,BARS2YLETTERS
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, ...",----------------------------------------------...
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",----------------------------------------------...
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0]",---------------------------------------------+...
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...",----------------------------------------------...
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]",-------------------------------------------+++...
...,...,...,...,...,...,...,...
1647,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, ...",----------------------------------------------...
1648,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1]",---------------------------+++++++++++-+++-++-...
1649,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, ...",----------------------------------------------...
1650,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",-------------------------++++++++++-++++++-+++...
1651,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ...",----------------------------------++++++-+++++...

In [6]:
# Phrases from which new ones will be generated
from nlp.dataset import samples
# Function that creates training_data accepts samples from which
from nlp.dataset import createSentence
from nlp.dataset import create_many_Sentences


# Pre-processing and possition extraction
from nlp.dataset import get_index_start_finish
from nlp.dataset import transform_keywords
from nlp.dataset import check_if_exists_in_list_of_lists
from nlp.dataset import get_space_in_enteties
from nlp.dataset import repalce_in_phrase

# Executes all the pre-processing functions and then returns the dataframe holding the marked_text
from nlp.dataset import yLetters2bars

In [51]:
## Examples for testing purpouses
# x = 'tragedia s-a intamplat in aceasta dupa amiaza la intersectia dintre strada arhanghelul mihail si strada codrilor. potriv politiei persoana traumat a fost luat de o ambulanta si transport de urgent la'
# y = '--------------------------------------------------------------------+++++++++++++++++++++++++----+++++++++++++++---------------------------------------------------------------------------------------'
# x = 'doua masini s-au tamponat in aceasta dupa amiaza intersectia str. a. russo - mircea cel batrin.'
# y = '-------------------------------------------------+++++++++++++++++++++++++++++++++++++++++++++-'
# x = 'potrivit martorilor soferita de 59 de ani circula strada calea mosilor iar bmw-ul pe bulevardul mircea cel batrin.'
# y = '--------------------------------------------------++++++++++++++++++++---------------++++++++++++++++++++++++++++-'

# annotated_phrase = yLetters2bars(x,y)
# print(annotated_phrase)


df2 = create_many_Sentences(10, create_from_what=samples)

import numpy as np
'''Use np.vectorize(NAME_OF_FUNCTION)(df2['Col_name1'], df2['Col_name2'])
   This allows up to pass arguments to a function that accepts multple arguments
'''

if 'marked_text' in df2.columns:
    df = df2.drop(columns='marked_text')
    
df2['marked_text'] = np.vectorize(yLetters2bars)(df2['text'], df2['marks'])

df2

,id,text,marks,marked_text
0,379,un baiat au fost transportate la spital in urm...,----------------------------------------------...,un baiat au fost transportate la spital in urm...
1,380,un baiat au fost duse la urgeanta in urma unu ...,----------------------------------------------...,un baiat au fost duse la urgeanta in urma unu ...
2,381,doua automobile s-au lovit in jurul orei 11:00...,----------------------------------------------...,doua automobile s-au lovit in jurul orei 11:00...
3,382,doua motociclete s-au tamponat saptamana aceas...,----------------------------------------------...,doua motociclete s-au tamponat saptamana aceas...
4,383,doua automobile s-au lovit in jurul orei 8:40 ...,----------------------------------------------...,doua automobile s-au lovit in jurul orei 8:40 ...
5,384,vineri 17 ianuarie in jur ore 20:30 strada mes...,------------------------------------++++++++++...,vineri 17 ianuarie in jur ore 20:30 ||strada||...
6,385,tragedia a avut loc in aceasta dimineata trase...,-----------------------------------------+++++...,tragedia a avut loc in aceasta dimineata ||tra...
7,386,evenimentul s-a produs saptamana aceasta strad...,-----------------------------------------+++++...,evenimentul s-a produs saptamana aceasta ||str...
8,387,potrivit martorilor sofer de 23 de ani se afla...,----------------------------------------------...,potrivit martorilor sofer de 23 de ani se afla...
9,388,o familie a fost lovit mortal in aceasta dupa ...,----------------------------------------------...,o familie a fost lovit mortal in aceasta dupa ...

In [55]:
print(df2['text'][7])
print(df2['marks'][7])
print(df2['marked_text'][7])

evenimentul s-a produs saptamana aceasta strada mihai viteazul, vizavi de icebravo.
-----------------------------------------+++++++++++++++++++++++++++++++++++++++++-
evenimentul s-a produs saptamana aceasta ||strada|| ||mihai|| ||viteazul,|| ||vizavi|| ||de|| ||icebravo||

In [76]:
from nlp.dataset import devide_enteties 
from nlp.dataset import spacy_transform 
from nlp.dataset import grouper 
from nlp.dataset import yLetters2spacy

In [77]:
if 'spacy_enteties' in df2.columns:
    df = df2.drop(columns='spacy_enteties')

df2['spacy_enteties'] = np.vectorize(yLetters2spacy)(df2['text'], df2['marks'])

df2

ent_index [[61, 70]]
str. pman
spacy_transform [61, 65, 66, 70]
[(61, 65, 'POS'), (66, 70, 'POS')]
ent_index [[61, 70]]
str. pman
spacy_transform [61, 65, 66, 70]
[(61, 65, 'POS'), (66, 70, 'POS')]
ent_index [[55, 61]]
bugeac
spacy_transform [55, 61]
[(55, 61, 'POS')]
ent_index [[47, 83]]
strada podul inalt - strada otovasca
spacy_transform [47, 53, 54, 59, 60, 65, 66, 67, 68, 74, 75, 83]
[(47, 53, 'POS'), (54, 59, 'POS'), (60, 65, 'POS'), (66, 67, 'POS'), (68, 74, 'POS'), (75, 83, 'POS')]
ent_index [[49, 99]]
bulevardul dimitrie cantemir in apropiere de piata
spacy_transform [49, 59, 60, 68, 69, 77, 78, 80, 81, 90, 91, 93, 94, 99]
[(49, 59, 'POS'), (60, 68, 'POS'), (69, 77, 'POS'), (78, 80, 'POS'), (81, 90, 'POS'), (91, 93, 'POS'), (94, 99, 'POS')]
ent_index [[55, 85]]
strada piotr ceaikovski 6 0100
spacy_transform [55, 61, 62, 67, 68, 78, 79, 80, 81, 85]
[(55, 61, 'POS'), (62, 67, 'POS'), (68, 78, 'POS'), (79, 80, 'POS'), (81, 85, 'POS')]
ent_index [[36, 113]]
strada mesterul manole, trosonul: strada vadul lui voda - strada ginta latina
spacy_transform [36, 42, 43, 51, 52, 59, 60, 69, 70, 76, 77, 82, 83, 86, 87, 91, 92, 93, 94, 100, 101, 106, 107, 113]
[(36, 42, 'POS'), (43, 51, 'POS'), (52, 59, 'POS'), (60, 69, 'POS'), (70, 76, 'POS'), (77, 82, 'POS'), (83, 86, 'POS'), (87, 91, 'POS'), (92, 93, 'POS'), (94, 100, 'POS'), (101, 106, 'POS'), (107, 113, 'POS')]
ent_index [[41, 81]]
traseul r1, in apropiere de orasul vatra
spacy_transform [41, 48, 49, 52, 53, 55, 56, 65, 66, 68, 69, 75, 76, 81]
[(41, 48, 'POS'), (49, 52, 'POS'), (53, 55, 'POS'), (56, 65, 'POS'), (66, 68, 'POS'), (69, 75, 'POS'), (76, 81, 'POS')]
ent_index [[41, 82]]
strada mihai viteazul, vizavi de icebravo
spacy_transform [41, 47, 48, 53, 54, 63, 64, 70, 71, 73, 74, 82]
[(41, 47, 'POS'), (48, 53, 'POS'), (54, 63, 'POS'), (64, 70, 'POS'), (71, 73, 'POS'), (74, 82, 'POS')]
ent_index [[47, 75], [91, 114]]
strada alexandru bernardazzi iar audi-ul pe strada nicolae zelinski
spacy_transform [47, 53, 54, 63, 64, 75, 91, 97, 98, 105, 106, 114]
[(47, 53, 'POS'), (54, 63, 'POS'), (64, 75, 'POS'), (91, 97, 'POS'), (98, 105, 'POS'), (106, 114, 'POS')]
ent_index [[87, 128]]
bulevardul decebal - strada liuba dumitru
spacy_transform [87, 97, 98, 105, 106, 107, 108, 114, 115, 120, 121, 128]
[(87, 97, 'POS'), (98, 105, 'POS'), (106, 107, 'POS'), (108, 114, 'POS'), (115, 120, 'POS'), (121, 128, 'POS')]

ValueError: setting an array element with a sequence

In [9]:
def y2bars(y, text):
    """
    input: 
    - [0,1,0,1,0]
    - a b c d e
    output: a ||b|| c ||d|| e
    """
    text = text.split()
    for index,word in enumerate(zip(y,text)):
        if word[0] == 1:
            text[index] = '||'+ text[index] + '||'
    text = ' '.join(text)
    return text

x = [0,1,0,1,0]
y = 'aa bb cc dd ee'
y2bars(x,y)

'aa ||bb|| cc ||dd|| ee'

In [10]:
def spacy2bars(entities, text):
    """
    input: 
    - [(2,3,'POS'), (4,5,'POS')]
    - aa bb cc dd ee
    
    output: aa ||bb|| cc ||dd|| ee
    """
    print(entities, text)
    all_ent = []
    for ent in entities:
        ent_pos = []
        ent_pos.extend([ent[0],ent[1]])
        all_ent.append(ent_pos)
    print(all_ent)
    for index,ent in enumerate(all_ent):
        print(index,ent)
        for i in text.split():
            print(i)

x = [(3,5,'POS'), (9,11,'POS')]
y = 'aa bb cc dd ee'

output = spacy2bars(x,y)
print(output)

[(3, 5, 'POS'), (9, 11, 'POS')] aa bb cc dd ee
[[3, 5], [9, 11]]
0 [3, 5]
aa
bb
cc
dd
ee
1 [9, 11]
aa
bb
cc
dd
ee
None

In [11]:
def spacy2y(entities, text):
    """
    input: 
    - [(3,5,'POS'), (9,11,'POS')]
    - aa bb cc dd ee
    output: [0,1,0,1,0]
    """
    pass

In [12]:
def y2spacy(text, y):
    """
    input: 
    - [0,1,0,1,0]
    - a b c d e
    output: [(2,3,'POS'), (4,5,'POS')]
    """
    pass

In [13]:
def calculate_recall(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [14]:
def calculate_acc(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [15]:
def calculate_acc_ignore0(y_pred, y_true):
    """calculate the accuracy just for the non-zero tokens
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [16]:
def calculate_confusion_matrix(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [17]:
def calculate_precision(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass