In [1]:
import os
import sys
import string
# # for natural language processing: named entity recognition
# import spacy
# from spacy.displacy.render import EntityRenderer
# from IPython.core.display import display, HTML

# Other package imports
import pandas as pd

%load_ext autoreload
%autoreload 2

In [2]:
# import our dataSet for analysis
path = os.path.join('../data', 'raw', 'ner - locatia accidente_WITH_GENERATED2.csv')
df = pd.read_csv(path)

# import the function that are to be used in scripts
sys.path.insert(0, "../scripts")

print(df.shape)

(1652, 4)

In [3]:
from nlp.utils import bars2spacy

if 'ENT_POS' in df.columns:
    df = df.drop(columns='ENT_POS')
    
df["ENT_POS"] = df['text'].apply(bars2spacy)

df

,id,y,text,com,ENT_POS
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT..."
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID..."
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]"
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]"
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]"
...,...,...,...,...,...
1647,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT..."
1648,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT..."
1649,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT..."
1650,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT..."
1651,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT..."

In [4]:
from nlp.utils import bars2y

if 'BARS2Y' in df.columns:
    df = df.drop(columns='BARS2Y')
    
df["BARS2Y"] = df['text'].apply(bars2y)

df

,id,y,text,com,ENT_POS,BARS2Y
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, ..."
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0]"
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ..."
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]"
...,...,...,...,...,...,...
1647,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, ..."
1648,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1]"
1649,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, ..."
1650,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1651,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [5]:
from nlp.utils import bars2yLetters


if 'BARS2YLETTERS' in df.columns:
    df = df.drop(columns='BARS2YLETTERS')
    
df["BARS2YLETTERS"] = df['text'].apply(bars2yLetters)

df

,id,y,text,com,ENT_POS,BARS2Y,BARS2YLETTERS
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, ...",----------------------------------------------...
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",----------------------------------------------...
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0]",---------------------------------------------+...
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...",----------------------------------------------...
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]",-------------------------------------------+++...
...,...,...,...,...,...,...,...
1647,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, ...",----------------------------------------------...
1648,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1]",---------------------------+++++++++++-+++-++-...
1649,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, ...",----------------------------------------------...
1650,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",-------------------------++++++++++-++++++-+++...
1651,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ...",----------------------------------++++++-+++++...

In [6]:
# Phrases from which new ones will be generated
from nlp.dataset import samples

#Functions needed for phrase generation
from nlp.dataset import getTemplate
from nlp.dataset import createSentence

In [391]:
def get_index_start_finish(x,y):
    print(x)
    print(y)
    try:
        START_KEYWORD_index = []
        END_KEYWORD_index = []
        for index,(f, b) in enumerate(zip(x,y)):
            if y[index] == '-' and y[index+1] == '+':
                print('START_INDEX',index+1)
                START_KEYWORD_index.append(index+1)
            elif y[index] == '+' and y[index+1] == '-':
                print('END_INDEX',index+1)
                END_KEYWORD_index.append(index+1)
    except:
        pass
    return START_KEYWORD_index, END_KEYWORD_index


def transform_keywords(start,end):
    ENTITIES = []
    for f, b in zip(start,end):
        ent =[f,b]
        print(ent)
        ENTITIES.append(ent)
    print('ENTITIES',ENTITIES)
    return ENTITIES

def check_if_exists_in_list_of_lists(elem_to_check, list_of_lists):
    check_status = bool
    if any(elem_to_check in sublist for sublist in list_of_lists):
        check_status = True
    else:
        check_status = False
    return check_status

def get_space_in_enteties(ent_ranges, phrase):
    spaces_in_ent = []
    for ent in ent_ranges:
        print(phrase[ent[0]:ent[1]])
        for i in range(ent[0],ent[1]):
            if phrase[i] == ' ':
                spaces_in_ent.append(i)
        for i in spaces_in_ent:
            CHECK = check_if_exists_in_list_of_lists(i,ent_ranges)
            if CHECK:
                spaces_in_ent.remove(i)
                print('SPACE REPEATING IN START',i)
            else:
                print('no, repeat')
    print('SPACES',spaces_in_ent)
    return spaces_in_ent



def repalce_in_phrase(index_start_finish,index_spaces, phrase):
    print(index_start_finish)
    print(phrase)
    
    index_spaces.pop(0)
    
    phrase_in_list = list(phrase)
    
    for index,point in enumerate(index_start_finish):
        index = index+1
        print('index_start_finish',index,point)
        print(phrase[point])
        if index%2 == 0:
            phrase_in_list[point] = '|| '
        if index%2 == 1:
            phrase_in_list[point] = ' ||'
    for point in index_spaces:
        print('index_spaces', point)
        phrase_in_list[point] = '|| ||'

    print(''.join(phrase_in_list))


def yLetters2bars(text, yLetters):
    """
    input: 
    - aa bb cb db eb
    - ---++----++---
    output: aa ||bb|| cb ||db|| eb
    """
    print('TEXT_LEN:',len(text),'MARKS_LEN:',len(yLetters))
    
    start_index,end_index = get_index_start_finish(text,yLetters)
#     print(start_index,end_index)
    
    index_to_replace_with_bars = transform_keywords(start_index,end_index)
#     print(all_entities_pos)
    
    spaces_in_ent = get_space_in_enteties(index_to_replace_with_bars, text)
#     print(spaces_in_ent)
    
#     index_to_replace_with_bars = insert_spaces_in_ent_possitions(all_entities_pos,spaces_in_ent)
#     print(index_to_replace_with_bars)
    joined_index_to_replace_with_bars =  [y for x in index_to_replace_with_bars for y in x]
    modified_phrase = repalce_in_phrase(joined_index_to_replace_with_bars,spaces_in_ent, text)


x,y=createSentence(samples)
# x = 'tragedia s-a intamplat in aceasta dupa amiaza la intersectia dintre strada arhanghelul mihail si strada codrilor. potriv politiei persoana traumat a fost luat de o ambulanta si transport de urgent la'
# y = '--------------------------------------------------------------------+++++++++++++++++++++++++----+++++++++++++++---------------------------------------------------------------------------------------'
# x = 'doua masini s-au tamponat in aceasta dupa amiaza intersectia str. a. russo - mircea cel batrin.'
# y = '-------------------------------------------------+++++++++++++++++++++++++++++++++++++++++++++-'
x = 'potrivit martorilor soferita de 59 de ani circula strada calea mosilor iar bmw-ul pe bulevardul mircea cel batrin.'
y = '--------------------------------------------------++++++++++++++++++++---------------++++++++++++++++++++++++++++-'
len_all_words = yLetters2bars(x,y)

TEXT_LEN: 114 MARKS_LEN: 114
potrivit martorilor soferita de 59 de ani circula strada calea mosilor iar bmw-ul pe bulevardul mircea cel batrin.
--------------------------------------------------++++++++++++++++++++---------------++++++++++++++++++++++++++++-
START_INDEX 50
END_INDEX 70
START_INDEX 85
END_INDEX 113
[50, 70]
[85, 113]
ENTITIES [[50, 70], [85, 113]]
strada calea mosilor
no, repeat
no, repeat
bulevardul mircea cel batrin
no, repeat
no, repeat
no, repeat
no, repeat
no, repeat
SPACES [56, 62, 95, 102, 106]
[50, 70, 85, 113]
potrivit martorilor soferita de 59 de ani circula strada calea mosilor iar bmw-ul pe bulevardul mircea cel batrin.
index_start_finish 1 50
s
index_start_finish 2 70

index_start_finish 3 85
b
index_start_finish 4 113
.
index_spaces 62
index_spaces 95
index_spaces 102
index_spaces 106
potrivit martorilor soferita de 59 de ani circula  ||trada calea|| ||mosilor|| iar bmw-ul pe  ||ulevardul|| ||mircea|| ||cel|| ||batrin||

In [347]:
def yLetters2spacy(text, yLetters):
    """
    input: 
    - aa bb cb db eb
    - ---++----++---
    output: [(3,5,'POS'), (8,9,'POS')]
    """
    pass

In [13]:
def y2bars(y, text):
    """
    input: 
    - [0,1,0,1,0]
    - a b c d e
    output: a ||b|| c ||d|| e
    """
    pass

In [14]:
def spacy2bars(entities, text):
    """
    input: 
    - [(2,3,'POS'), (4,5,'POS')]
    - a b c d e
    output: a ||b|| c ||d|| e
    """
    pass

In [15]:
def spacy2y(entities, text):
    """
    input: 
    - [(2,3,'POS'), (4,5,'POS')]
    - a b c d e
    output: [0,1,0,1,0]
    """
    pass

In [16]:
def y2spacy(text, y):
    """
    input: 
    - [0,1,0,1,0]
    - a b c d e
    output: [(2,3,'POS'), (4,5,'POS')]
    """
    pass

In [17]:
def calculate_recall(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [18]:
def calculate_acc(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [19]:
def calculate_acc_ignore0(y_pred, y_true):
    """calculate the accuracy just for the non-zero tokens
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [20]:
def calculate_confusion_matrix(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [21]:
def calculate_precision(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass