In [1]:
import os
import sys
import string
# # for natural language processing: named entity recognition
# import spacy
# from spacy.displacy.render import EntityRenderer
# from IPython.core.display import display, HTML

# Other package imports
import pandas as pd

%load_ext autoreload
%autoreload 2

In [2]:
# import our dataSet for analysis
path = os.path.join('../data', 'raw', 'ner - locatia accidente_WITH_GENERATED2.csv')
df = pd.read_csv(path)

# import the function that are to be used in scripts
sys.path.insert(0, "../scripts")

print(df.shape)

(1652, 4)

In [8]:
from nlp.utils import bars2spacy

"""
input: a ||b|| c ||d|| e
output: [(2,3,'LOC_ACCIDENT'), (4,5,'LOC_ACCIDENT')]
"""

if 'ENT_POS' in df.columns:
    df = df.drop(columns='ENT_POS')
    
df["ENT_POS"] = df['text'].apply(bars2spacy)

df

,id,y,text,com,ENT_POS
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT..."
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID..."
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]"
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]"
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]"
...,...,...,...,...,...
1647,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT..."
1648,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT..."
1649,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT..."
1650,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT..."
1651,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT..."

In [9]:
from nlp.utils import bars2y

"""
input: a ||b|| c ||d|| e
output: [0,1,0,1,0]
"""

if 'BARS2Y' in df.columns:
    df = df.drop(columns='BARS2Y')
    
df["BARS2Y"] = df['text'].apply(bars2y)

df

,id,y,text,com,ENT_POS,BARS2Y
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, ..."
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0]"
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ..."
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]"
...,...,...,...,...,...,...
1647,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, ..."
1648,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1]"
1649,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, ..."
1650,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1651,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [10]:
from nlp.utils import bars2yLetters

"""
input: aa ||bb|| cb ||db|| eb
output: ---++----++---
"""

if 'BARS2YLETTERS' in df.columns:
    df = df.drop(columns='BARS2YLETTERS')
    
df["BARS2YLETTERS"] = df['text'].apply(bars2yLetters)

df

,id,y,text,com,ENT_POS,BARS2Y,BARS2YLETTERS
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, ...",----------------------------------------------...
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",----------------------------------------------...
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0]",---------------------------------------------+...
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...",----------------------------------------------...
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]",-------------------------------------------+++...
...,...,...,...,...,...,...,...
1647,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, ...",----------------------------------------------...
1648,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1]",---------------------------+++++++++++-+++-++-...
1649,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, ...",----------------------------------------------...
1650,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",-------------------------++++++++++-++++++-+++...
1651,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ...",----------------------------------++++++-+++++...

In [11]:
# Phrases from which new ones will be generated
from nlp.dataset import samples
# Function that creates training_data accepts samples from which
from nlp.dataset import createSentence
from nlp.dataset import create_many_Sentences
from nlp.dataset import turn_data_to_df
from nlp.dataset import get_id_of_last_elem_in_dataset

# Pre-processing and possition extraction
from nlp.dataset import get_index_start_finish
from nlp.dataset import transform_keywords
from nlp.dataset import check_if_exists_in_list_of_lists
from nlp.dataset import get_space_in_enteties
from nlp.dataset import repalce_in_phrase

# Executes all the pre-processing functions and then returns the dataframe holding the marked_text
from nlp.dataset import yLetters2bars

In [12]:
## Examples for testing purpouses
# x = 'tragedia s-a intamplat in aceasta dupa amiaza la intersectia dintre strada arhanghelul mihail si strada codrilor. potriv politiei persoana traumat a fost luat de o ambulanta si transport de urgent la'
# y = '--------------------------------------------------------------------+++++++++++++++++++++++++----+++++++++++++++---------------------------------------------------------------------------------------'
# x = 'doua masini s-au tamponat in aceasta dupa amiaza intersectia str. a. russo - mircea cel batrin.'
# y = '-------------------------------------------------+++++++++++++++++++++++++++++++++++++++++++++-'
# x = 'potrivit martorilor soferita de 59 de ani circula strada calea mosilor iar bmw-ul pe bulevardul mircea cel batrin.'
# y = '--------------------------------------------------++++++++++++++++++++---------------++++++++++++++++++++++++++++-'

# annotated_phrase = yLetters2bars(x,y)
# print(annotated_phrase)


data = create_many_Sentences(10, create_from_what=samples)
df2 = turn_data_to_df(data)


import numpy as np
'''Use np.vectorize(NAME_OF_FUNCTION)(df2['Col_name1'], df2['Col_name2'])
   This allows up to pass arguments to a function that accepts multple arguments
'''

"""
input: 
- aa bb cb db eb
- ---++----++---
output: aa ||bb|| cb ||db|| eb
"""


if 'marked_text' in df2.columns:
    df = df2.drop(columns='marked_text')
    
df2['marked_text'] = np.vectorize(yLetters2bars)(df2['text_unprocessed'], df2['marks'])

df2

,id,y,text_unprocessed,marks,com,marked_text
0,0,1,evenimentul a avut loc in aceasta dupa amiaza ...,----------------------------------------------...,None,evenimentul a avut loc in aceasta dupa amiaza ...
1,1,1,joi 19 ianuarie doua masini s-au tamponat sapt...,----------------------------------------------...,None,joi 19 ianuarie doua masini s-au tamponat sapt...
2,2,1,evenimentul a avut loc in aceasta dimineata la...,----------------------------------------------...,None,evenimentul a avut loc in aceasta dimineata la...
3,3,1,evenimentul a avut loc aseara la intersectia d...,----------------------------------------------...,None,evenimentul a avut loc aseara la intersectia d...
4,4,1,o masina a accidentat un batran trecere de pie...,----------------------------------------------...,None,o masina a accidentat un batran trecere de pie...
5,5,1,"marti 28 martie in jur ore 3:40 traseul e583, ...",--------------------------------++++++++++++++...,None,marti 28 martie in jur ore 3:40 ||traseul|| ||...
6,6,1,un autoturism a tamponat doi pietoni trecere d...,----------------------------------------------...,None,un autoturism a tamponat doi pietoni trecere d...
7,7,1,o rutiera a accidentat doi pietoni trecere de ...,----------------------------------------------...,None,o rutiera a accidentat doi pietoni trecere de ...
8,8,1,accidentul s-a intamplat in aceasta dimineata ...,----------------------------------------------...,None,accidentul s-a intamplat in aceasta dimineata ...
9,9,1,o batrana au fost transportate la spital in ur...,----------------------------------------------...,None,o batrana au fost transportate la spital in ur...

In [13]:
print(df2['text_unprocessed'][7])
print(df2['marks'][7])
print(df2['marked_text'][7])

o rutiera a accidentat doi pietoni trecere de pietoni s. mihailenii noi, r. riscani.
------------------------------------------------------+++++++++++++++++++++++++++++-
o rutiera a accidentat doi pietoni trecere de pietoni ||s.|| ||mihailenii|| ||noi,|| ||r.|| ||riscani||

In [14]:
from nlp.dataset import devide_enteties 
from nlp.dataset import spacy_transform 
from nlp.dataset import yLetters2spacy

In [15]:
"""
input: 
- aa bb cb db eb
- ---++----++---
output: [(3,5,'POS'), (8,9,'POS')]
"""


if 'spacy_enteties' in df2.columns:
    df = df2.drop(columns='spacy_enteties')

df2['spacy_enteties'] = np.vectorize(yLetters2spacy, otypes=[list])(df2['text_unprocessed'], df2['marks'])

df2

,id,y,text_unprocessed,marks,com,marked_text,spacy_enteties
0,0,1,evenimentul a avut loc in aceasta dupa amiaza ...,----------------------------------------------...,None,evenimentul a avut loc in aceasta dupa amiaza ...,"[(46, 50, POS), (51, 53, POS), (54, 64, POS), ..."
1,1,1,joi 19 ianuarie doua masini s-au tamponat sapt...,----------------------------------------------...,None,joi 19 ianuarie doua masini s-au tamponat sapt...,"[(60, 63, POS), (64, 69, POS), (70, 74, POS)]"
2,2,1,evenimentul a avut loc in aceasta dimineata la...,----------------------------------------------...,None,evenimentul a avut loc in aceasta dimineata la...,"[(66, 72, POS), (73, 81, POS), (85, 91, POS), ..."
3,3,1,evenimentul a avut loc aseara la intersectia d...,----------------------------------------------...,None,evenimentul a avut loc aseara la intersectia d...,"[(52, 58, POS), (59, 62, POS), (63, 70, POS), ..."
4,4,1,o masina a accidentat un batran trecere de pie...,----------------------------------------------...,None,o masina a accidentat un batran trecere de pie...,"[(51, 55, POS), (56, 58, POS), (59, 68, POS), ..."
5,5,1,"marti 28 martie in jur ore 3:40 traseul e583, ...",--------------------------------++++++++++++++...,None,marti 28 martie in jur ore 3:40 ||traseul|| ||...,"[(32, 39, POS), (40, 45, POS), (46, 54, POS), ..."
6,6,1,un autoturism a tamponat doi pietoni trecere d...,----------------------------------------------...,None,un autoturism a tamponat doi pietoni trecere d...,"[(56, 61, POS), (62, 70, POS)]"
7,7,1,o rutiera a accidentat doi pietoni trecere de ...,----------------------------------------------...,None,o rutiera a accidentat doi pietoni trecere de ...,"[(54, 56, POS), (57, 67, POS), (68, 72, POS), ..."
8,8,1,accidentul s-a intamplat in aceasta dimineata ...,----------------------------------------------...,None,accidentul s-a intamplat in aceasta dimineata ...,"[(68, 73, POS), (74, 90, POS), (94, 100, POS),..."
9,9,1,o batrana au fost transportate la spital in ur...,----------------------------------------------...,None,o batrana au fost transportate la spital in ur...,"[(62, 68, POS), (69, 75, POS), (76, 83, POS)]"

In [16]:
from nlp.utils import y2bars

"""
input: 
- [0,1,0,1,0] -> BARS2Y
- a b c d e -> text
output: a ||b|| c ||d|| e
"""


x = [0,1,0,1,0]
y = 'aa bb cc dd ee'

y2bars(x,y)

'aa ||bb|| cc ||dd|| ee'

In [17]:
from nlp.utils import spacy2bars

"""
input: 
- [(2,3,'POS'), (4,5,'POS')]
- a b c d e

output: aa ||bb|| cc ||dd|| ee
"""


x = [(3,5,'POS'), (9,11,'POS')]
y = 'aa bb cc dd ee'

output = spacy2bars(x,y)
print(output)

aa ||bb|| cc ||dd|| ee

In [18]:
from nlp.utils import spacy2y

"""
input: 
- [(3,5,'POS'), (9,11,'POS')]
- aa bb cc dd ee
output: [0,1,0,1,0]
"""



x = [(3,5,'POS'), (9,11,'POS')]
y = 'aa bb cc dd ee'

output = spacy2y(x,y)
print(output)

[0, 1, 0, 1, 0]

In [19]:
from nlp.utils import y2spacy

    
y = [0,1,0,1,0]
x = 'aa bb cc dd ee'

output = y2spacy(y,x)
print(output)

[(3, 5, 'LOC_ACCIDENT'), (9, 11, 'LOC_ACCIDENT')]
[(3, 5, 'LOC_ACCIDENT'), (9, 11, 'LOC_ACCIDENT')]

In [20]:
def calculate_recall(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [21]:
def calculate_acc(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [22]:
def calculate_acc_ignore0(y_pred, y_true):
    """calculate the accuracy just for the non-zero tokens
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [23]:
def calculate_confusion_matrix(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [24]:
def calculate_precision(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass