In [1]:
import os
import sys
import string
# # for natural language processing: named entity recognition
# import spacy
# from spacy.displacy.render import EntityRenderer
# from IPython.core.display import display, HTML

# Other package imports
import pandas as pd

%load_ext autoreload
%autoreload 2

In [2]:
# import our dataSet for analysis
path = os.path.join('../data', 'raw', 'ner - locatia accidente_WITH_GENERATED2.csv')
df = pd.read_csv(path)

# import the function that are to be used in scripts
sys.path.insert(0, "../scripts")

print(df.shape)

(1652, 4)

In [3]:
from nlp.utils import bars2spacy

if 'ENT_POS' in df.columns:
    df = df.drop(columns='ENT_POS')
    
df["ENT_POS"] = df['text'].apply(bars2spacy)

df

,id,y,text,com,ENT_POS
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT..."
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID..."
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]"
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]"
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]"
...,...,...,...,...,...
1647,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT..."
1648,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT..."
1649,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT..."
1650,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT..."
1651,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT..."

In [4]:
from nlp.utils import bars2y

if 'BARS2Y' in df.columns:
    df = df.drop(columns='BARS2Y')
    
df["BARS2Y"] = df['text'].apply(bars2y)

df

,id,y,text,com,ENT_POS,BARS2Y
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, ..."
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0]"
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ..."
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]"
...,...,...,...,...,...,...
1647,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, ..."
1648,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1]"
1649,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, ..."
1650,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1651,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [5]:
from nlp.utils import bars2yLetters


if 'BARS2YLETTERS' in df.columns:
    df = df.drop(columns='BARS2YLETTERS')
    
df["BARS2YLETTERS"] = df['text'].apply(bars2yLetters)

df

,id,y,text,com,ENT_POS,BARS2Y,BARS2YLETTERS
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, ...",----------------------------------------------...
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",----------------------------------------------...
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0]",---------------------------------------------+...
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...",----------------------------------------------...
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]",-------------------------------------------+++...
...,...,...,...,...,...,...,...
1647,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, ...",----------------------------------------------...
1648,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1]",---------------------------+++++++++++-+++-++-...
1649,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, ...",----------------------------------------------...
1650,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",-------------------------++++++++++-++++++-+++...
1651,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ...",----------------------------------++++++-+++++...

In [6]:
# Phrases from which new ones will be generated
from nlp.dataset import samples
# Function that creates training_data accepts samples from which
from nlp.dataset import createSentence
from nlp.dataset import create_many_Sentences


# Pre-processing and possition extraction
from nlp.dataset import get_index_start_finish
from nlp.dataset import transform_keywords
from nlp.dataset import check_if_exists_in_list_of_lists
from nlp.dataset import get_space_in_enteties
from nlp.dataset import repalce_in_phrase

# Executes all the pre-processing functions and then returns the dataframe holding the marked_text
from nlp.dataset import yLetters2bars

In [7]:
## Examples for testing purpouses
# x = 'tragedia s-a intamplat in aceasta dupa amiaza la intersectia dintre strada arhanghelul mihail si strada codrilor. potriv politiei persoana traumat a fost luat de o ambulanta si transport de urgent la'
# y = '--------------------------------------------------------------------+++++++++++++++++++++++++----+++++++++++++++---------------------------------------------------------------------------------------'
# x = 'doua masini s-au tamponat in aceasta dupa amiaza intersectia str. a. russo - mircea cel batrin.'
# y = '-------------------------------------------------+++++++++++++++++++++++++++++++++++++++++++++-'
# x = 'potrivit martorilor soferita de 59 de ani circula strada calea mosilor iar bmw-ul pe bulevardul mircea cel batrin.'
# y = '--------------------------------------------------++++++++++++++++++++---------------++++++++++++++++++++++++++++-'

# annotated_phrase = yLetters2bars(x,y)
# print(annotated_phrase)


df2 = create_many_Sentences(10, create_from_what=samples)

import numpy as np
'''Use np.vectorize(NAME_OF_FUNCTION)(df2['Col_name1'], df2['Col_name2'])
   This allows up to pass arguments to a function that accepts multple arguments
'''
df2['marked_text'] = np.vectorize(yLetters2bars)(df2['text'], df2['marks'])

df2

,id,text,marks,marked_text
0,379,un autobuz a avariat o familie trecere de piet...,----------------------------------------------...,un autobuz a avariat o familie trecere de piet...
1,380,miercuri 22 martie in jur ore 9:50 petresti so...,-----------------------------------++++++++---...,miercuri 22 martie in jur ore 9:50 ||petresti|...
2,381,potrivit martorilor sofer de 36 de ani circula...,----------------------------------------------...,potrivit martorilor sofer de 36 de ani circula...
3,382,evenimentul s-a intamplat azi la intersectia d...,----------------------------------------------...,evenimentul s-a intamplat azi la intersectia d...
4,383,evenimentul s-a produs la ora 12:20 la interse...,----------------------------------------------...,evenimentul s-a produs la ora 12:20 la interse...
5,384,o rutiera a derapat o fata trecere de pietoni ...,----------------------------------------------...,o rutiera a derapat o fata trecere de pietoni ...
6,385,tragedia s-a intamplat aseara strada 31 august...,------------------------------++++++++++++++++...,tragedia s-a intamplat aseara ||strada|| ||31|...
7,386,evenimentul s-a produs ieri strada ismail in a...,----------------------------++++++++++++++++++...,evenimentul s-a produs ieri ||strada|| ||ismai...
8,387,doua autoturisme s-au tamponat in jurul orei 1...,----------------------------------------------...,doua autoturisme s-au tamponat in jurul orei 1...
9,388,o motocicleta a spulberat o familie trecere de...,----------------------------------------------...,o motocicleta a spulberat o familie trecere de...

In [160]:
def transform_to_spacy_format(ent_index,spaces_in_ent,text):
    spaces_of_ents = []
    for index,ent in enumerate(ent_index):
#         spaces_of_ents.append(ent)
        print(index,ent)
        print('ENT:',text[ent[0]:ent[1]])
        for space in spaces_in_ent:
            if space in range(ent[0],ent[1]):
                print('Space in range',space,'range',ent[0],ent[1])
    
    
    
    
    
    print('Here',ent_index,'Spaces',spaces_in_ent,'\n')
def yLetters2spacy(text, yLetters):
    """
    input: 
    - aa bb cb db eb
    - ---++----++---
    output: [(3,5,'POS'), (8,9,'POS')]
    """
#     print(text)
#     print(yLetters)
    start_index,end_index = get_index_start_finish(text,yLetters)
#     print('start_index,end_index',start_index,end_index)
    index_to_replace_with_bars = transform_keywords(start_index,end_index)
#     print('index_to_replace_with_bars',index_to_replace_with_bars)
    spaces_in_ent = get_space_in_enteties(index_to_replace_with_bars, text)
#     print('spaces_in_ent',spaces_in_ent)
    transform_to_spacy_format(index_to_replace_with_bars,spaces_in_ent,text)
    
    pass

df2['spacy_enteties'] = np.vectorize(yLetters2spacy)(df2['text'], df2['marks'])

df2

enteties [[49, 72]]
 str. decebal-victoriei
SPACE REPEATING IN START 49
SPACES [54]
0 [49, 72]
ENT:  str. decebal-victoriei
Space in range 54 range 49 72
Here [[49, 72]] Spaces [54]

enteties [[49, 72]]
 str. decebal-victoriei
SPACE REPEATING IN START 49
SPACES [54]
0 [49, 72]
ENT:  str. decebal-victoriei
Space in range 54 range 49 72
Here [[49, 72]] Spaces [54]

enteties [[34, 43]]
 petresti
SPACE REPEATING IN START 34
SPACES []
0 [34, 43]
ENT:  petresti
Here [[34, 43]] Spaces []

enteties [[46, 59], [74, 98]]
 strada pacii
SPACE REPEATING IN START 46
 strada ioan botezatorul
SPACE REPEATING IN START 74
SPACES [53, 81, 86]
0 [46, 59]
ENT:  strada pacii
Space in range 53 range 46 59
1 [74, 98]
ENT:  strada ioan botezatorul
Space in range 81 range 74 98
Space in range 86 range 74 98
Here [[46, 59], [74, 98]] Spaces [53, 81, 86]

enteties [[51, 72], [75, 88]]
 bulevardul victoriei
SPACE REPEATING IN START 51
 strada dacia
SPACE REPEATING IN START 75
SPACES [62, 82]
0 [51, 72]
ENT:  bulevardul victoriei
Space in range 62 range 51 72
1 [75, 88]
ENT:  strada dacia
Space in range 82 range 75 88
Here [[51, 72], [75, 88]] Spaces [62, 82]

enteties [[57, 76], [79, 94]]
 strada andrei doga
SPACE REPEATING IN START 57
 strada ceapaev
SPACE REPEATING IN START 79
SPACES [64, 71, 86]
0 [57, 76]
ENT:  strada andrei doga
Space in range 64 range 57 76
Space in range 71 range 57 76
1 [79, 94]
ENT:  strada ceapaev
Space in range 86 range 79 94
Here [[57, 76], [79, 94]] Spaces [64, 71, 86]

enteties [[45, 92]]
 strada gradina botanica - strada sarmizegetusa
SPACE REPEATING IN START 45
SPACES [52, 60, 69, 71, 78]
0 [45, 92]
ENT:  strada gradina botanica - strada sarmizegetusa
Space in range 52 range 45 92
Space in range 60 range 45 92
Space in range 69 range 45 92
Space in range 71 range 45 92
Space in range 78 range 45 92
Here [[45, 92]] Spaces [52, 60, 69, 71, 78]

enteties [[29, 72]]
 strada 31 august 1989 - strada lev tolstoi
SPACE REPEATING IN START 29
SPACES [36, 39, 46, 51, 53, 60, 64]
0 [29, 72]
ENT:  strada 31 august 1989 - strada lev tolstoi
Space in range 36 range 29 72
Space in range 39 range 29 72
Space in range 46 range 29 72
Space in range 51 range 29 72
Space in range 53 range 29 72
Space in range 60 range 29 72
Space in range 64 range 29 72
Here [[29, 72]] Spaces [36, 39, 46, 51, 53, 60, 64]

enteties [[27, 81]]
 strada ismail in apropiere de strada alexandru hajdeu
SPACE REPEATING IN START 27
SPACES [34, 41, 44, 54, 57, 64, 74]
0 [27, 81]
ENT:  strada ismail in apropiere de strada alexandru hajdeu
Space in range 34 range 27 81
Space in range 41 range 27 81
Space in range 44 range 27 81
Space in range 54 range 27 81
Space in range 57 range 27 81
Space in range 64 range 27 81
Space in range 74 range 27 81
Here [[27, 81]] Spaces [34, 41, 44, 54, 57, 64, 74]

enteties [[50, 106]]
 strada mircea cel batran - strada profesor ion dumeniuc
SPACE REPEATING IN START 50
SPACES [57, 64, 68, 75, 77, 84, 93, 97]
0 [50, 106]
ENT:  strada mircea cel batran - strada profesor ion dumeniuc
Space in range 57 range 50 106
Space in range 64 range 50 106
Space in range 68 range 50 106
Space in range 75 range 50 106
Space in range 77 range 50 106
Space in range 84 range 50 106
Space in range 93 range 50 106
Space in range 97 range 50 106
Here [[50, 106]] Spaces [57, 64, 68, 75, 77, 84, 93, 97]

enteties [[54, 105]]
 traseul dintre satele isnovat si stetcani criuleni
SPACE REPEATING IN START 54
SPACES [62, 69, 76, 84, 87, 96]
0 [54, 105]
ENT:  traseul dintre satele isnovat si stetcani criuleni
Space in range 62 range 54 105
Space in range 69 range 54 105
Space in range 76 range 54 105
Space in range 84 range 54 105
Space in range 87 range 54 105
Space in range 96 range 54 105
Here [[54, 105]] Spaces [62, 69, 76, 84, 87, 96]

,id,text,marks,marked_text,spacy_enteties
0,379,un autobuz a avariat o familie trecere de piet...,----------------------------------------------...,un autobuz a avariat o familie trecere de piet...,None
1,380,miercuri 22 martie in jur ore 9:50 petresti so...,-----------------------------------++++++++---...,miercuri 22 martie in jur ore 9:50 ||petresti|...,None
2,381,potrivit martorilor sofer de 36 de ani circula...,----------------------------------------------...,potrivit martorilor sofer de 36 de ani circula...,None
3,382,evenimentul s-a intamplat azi la intersectia d...,----------------------------------------------...,evenimentul s-a intamplat azi la intersectia d...,None
4,383,evenimentul s-a produs la ora 12:20 la interse...,----------------------------------------------...,evenimentul s-a produs la ora 12:20 la interse...,None
5,384,o rutiera a derapat o fata trecere de pietoni ...,----------------------------------------------...,o rutiera a derapat o fata trecere de pietoni ...,None
6,385,tragedia s-a intamplat aseara strada 31 august...,------------------------------++++++++++++++++...,tragedia s-a intamplat aseara ||strada|| ||31|...,None
7,386,evenimentul s-a produs ieri strada ismail in a...,----------------------------++++++++++++++++++...,evenimentul s-a produs ieri ||strada|| ||ismai...,None
8,387,doua autoturisme s-au tamponat in jurul orei 1...,----------------------------------------------...,doua autoturisme s-au tamponat in jurul orei 1...,None
9,388,o motocicleta a spulberat o familie trecere de...,----------------------------------------------...,o motocicleta a spulberat o familie trecere de...,None

In [103]:
def y2bars(y, text):
    """
    input: 
    - [0,1,0,1,0]
    - a b c d e
    output: a ||b|| c ||d|| e
    """
    pass

In [10]:
def spacy2bars(entities, text):
    """
    input: 
    - [(2,3,'POS'), (4,5,'POS')]
    - a b c d e
    output: a ||b|| c ||d|| e
    """
    pass

In [11]:
def spacy2y(entities, text):
    """
    input: 
    - [(2,3,'POS'), (4,5,'POS')]
    - a b c d e
    output: [0,1,0,1,0]
    """
    pass

In [12]:
def y2spacy(text, y):
    """
    input: 
    - [0,1,0,1,0]
    - a b c d e
    output: [(2,3,'POS'), (4,5,'POS')]
    """
    pass

In [13]:
def calculate_recall(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [14]:
def calculate_acc(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [15]:
def calculate_acc_ignore0(y_pred, y_true):
    """calculate the accuracy just for the non-zero tokens
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [16]:
def calculate_confusion_matrix(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [17]:
def calculate_precision(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass