In [1]:
import os
import sys
import string
# # for natural language processing: named entity recognition
# import spacy
# from spacy.displacy.render import EntityRenderer
# from IPython.core.display import display, HTML

# Other package imports
import pandas as pd

%load_ext autoreload
%autoreload 2

In [2]:
# import our dataSet for analysis
path = os.path.join('../data', 'raw', 'ner - locatia accidente_WITH_GENERATED2.csv')
df = pd.read_csv(path)

# import the function that are to be used in scripts
sys.path.insert(0, "../scripts")

print(df.shape)

(1652, 4)

In [3]:
from nlp.utils import bars2spacy

if 'ENT_POS' in df.columns:
    df = df.drop(columns='ENT_POS')
    
df["ENT_POS"] = df['text'].apply(bars2spacy)

df

,id,y,text,com,ENT_POS
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT..."
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID..."
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]"
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]"
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]"
...,...,...,...,...,...
1647,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT..."
1648,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT..."
1649,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT..."
1650,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT..."
1651,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT..."

In [16]:
from nlp.utils import bars2y

if 'BARS2Y' in df.columns:
    df = df.drop(columns='BARS2Y')
    
df["BARS2Y"] = df['text'].apply(bars2y)

df

,id,y,text,com,ENT_POS,BARS2YLETTERS,BARS2Y
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT...",----------------------------------------------...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, ..."
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID...",----------------------------------------------...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]",---------------------------------------------+...,"[0, 0, 0, 0, 0, 0, 1, 1, 0, 0]"
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]",----------------------------------------------...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ..."
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]",-------------------------------------------+++...,"[0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]"
...,...,...,...,...,...,...,...
1647,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT...",----------------------------------------------...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, ..."
1648,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT...",---------------------------+++++++++++-+++-++-...,"[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1]"
1649,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT...",----------------------------------------------...,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, ..."
1650,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT...",-------------------------++++++++++-++++++-+++...,"[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1651,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT...",----------------------------------++++++-+++++...,"[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [5]:
from nlp.utils import bars2yLetters


if 'BARS2YLETTERS' in df.columns:
    df = df.drop(columns='BARS2YLETTERS')
    
df["BARS2YLETTERS"] = df['text'].apply(bars2yLetters)

df

,id,y,text,com,ENT_POS,BARS2Y,BARS2YLETTERS
0,0,1,un sofer a tamponat o femeie pe trecerea pieto...,NaN,"[(49, 60, LOC_ACCIDENT), (61, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, ...",----------------------------------------------...
1,1,1,aseara jurul orei 23:30 politia capitalei a fo...,NaN,"[(94, 101, LOC_ACCIDENT), (110, 114, LOC_ACCID...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",----------------------------------------------...
2,6,1,accidentul sa intamplat aceasta dimineata pe |...,NaN,"[(45, 52, LOC_ACCIDENT), (53, 61, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0]",---------------------------------------------+...
3,7,1,un pieton a fost spulberat mortal aseara un ta...,NaN,"[(73, 80, LOC_ACCIDENT), (81, 89, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...",----------------------------------------------...
4,10,1,accidentul a avut loc sectorul botanica pe ||s...,NaN,"[(43, 49, LOC_ACCIDENT), (50, 63, LOC_ACCIDENT)]","[0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]",-------------------------------------------+++...
...,...,...,...,...,...,...,...
1647,378,1,o batrana au fost duse la urgeanta in urma un...,NaN,"[(56, 62, LOC_ACCIDENT), (63, 70, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, ...",----------------------------------------------...
1648,378,1,tragedia s-a produs aseara ||intersectia|| ||...,NaN,"[(27, 38, LOC_ACCIDENT), (39, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1]",---------------------------+++++++++++-+++-++-...
1649,378,1,potrivit martorilor soferita de 79 de ani cir...,NaN,"[(50, 56, LOC_ACCIDENT), (57, 63, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, ...",----------------------------------------------...
1650,378,1,tragedia s-a produs ieri ||bulevardul|| ||ste...,NaN,"[(25, 35, LOC_ACCIDENT), (36, 42, LOC_ACCIDENT...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",-------------------------++++++++++-++++++-+++...
1651,378,1,vineri 26 martie in jur ore 22:30 ||strada|| ...,NaN,"[(34, 40, LOC_ACCIDENT), (41, 46, LOC_ACCIDENT...","[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ...",----------------------------------++++++-+++++...

In [8]:
# Phrases from which new ones will be generated
from nlp.dataset import samples
# Function that creates training_data accepts samples from which
from nlp.dataset import createSentence
from nlp.dataset import create_many_Sentences
from nlp.dataset import turn_data_to_df
from nlp.dataset import get_id_of_last_elem_in_dataset

# Pre-processing and possition extraction
from nlp.dataset import get_index_start_finish
from nlp.dataset import transform_keywords
from nlp.dataset import check_if_exists_in_list_of_lists
from nlp.dataset import get_space_in_enteties
from nlp.dataset import repalce_in_phrase

# Executes all the pre-processing functions and then returns the dataframe holding the marked_text
from nlp.dataset import yLetters2bars

In [9]:
## Examples for testing purpouses
# x = 'tragedia s-a intamplat in aceasta dupa amiaza la intersectia dintre strada arhanghelul mihail si strada codrilor. potriv politiei persoana traumat a fost luat de o ambulanta si transport de urgent la'
# y = '--------------------------------------------------------------------+++++++++++++++++++++++++----+++++++++++++++---------------------------------------------------------------------------------------'
# x = 'doua masini s-au tamponat in aceasta dupa amiaza intersectia str. a. russo - mircea cel batrin.'
# y = '-------------------------------------------------+++++++++++++++++++++++++++++++++++++++++++++-'
# x = 'potrivit martorilor soferita de 59 de ani circula strada calea mosilor iar bmw-ul pe bulevardul mircea cel batrin.'
# y = '--------------------------------------------------++++++++++++++++++++---------------++++++++++++++++++++++++++++-'

# annotated_phrase = yLetters2bars(x,y)
# print(annotated_phrase)


data = create_many_Sentences(10, create_from_what=samples)
df2 = turn_data_to_df(data)


import numpy as np
'''Use np.vectorize(NAME_OF_FUNCTION)(df2['Col_name1'], df2['Col_name2'])
   This allows up to pass arguments to a function that accepts multple arguments
'''

if 'marked_text' in df2.columns:
    df = df2.drop(columns='marked_text')
    
df2['marked_text'] = np.vectorize(yLetters2bars)(df2['text'], df2['marks'])

df2

,id,text,marks,marked_text
0,0,un autobuz a tamponat un batran trecere de pie...,----------------------------------------------...,un autobuz a tamponat un batran trecere de pie...
1,1,un taxi a accidentat doi pietoni trecere de pi...,----------------------------------------------...,un taxi a accidentat doi pietoni trecere de pi...
2,2,doua autoturisme s-au tamponat in jurul orei 7...,----------------------------------------------...,doua autoturisme s-au tamponat in jurul orei 7...
3,3,joi 27 februarie in jur ore 5:40 strada miorit...,---------------------------------+++++++++++++...,joi 27 februarie in jur ore 5:40 ||strada|| ||...
4,4,sambata 28 decembrie in jur ore 6:40 or. brice...,-------------------------------------+++++++++...,sambata 28 decembrie in jur ore 6:40 ||or.|| |...
5,5,evenimentul a avut loc la ora 16:30 la interse...,----------------------------------------------...,evenimentul a avut loc la ora 16:30 la interse...
6,6,evenimentul s-a produs in aceasta dimineata st...,--------------------------------------------++...,evenimentul s-a produs in aceasta dimineata ||...
7,7,doua autoturisme s-au ciocnit in jurul orei 18...,----------------------------------------------...,doua autoturisme s-au ciocnit in jurul orei 18...
8,8,evenimentul s-a intamplat saptamana aceasta tr...,--------------------------------------------++...,evenimentul s-a intamplat saptamana aceasta ||...
9,9,evenimentul s-a intamplat azi la intersectia d...,----------------------------------------------...,evenimentul s-a intamplat azi la intersectia d...

In [10]:
print(df2['text'][7])
print(df2['marks'][7])
print(df2['marked_text'][7])

doua autoturisme s-au ciocnit in jurul orei 18:50 guara camencii, floresti.
--------------------------------------------------++++++++++++++++++++++++-
doua autoturisme s-au ciocnit in jurul orei 18:50 ||guara|| ||camencii,|| ||floresti||

In [11]:
from nlp.dataset import devide_enteties 
from nlp.dataset import spacy_transform 
from nlp.dataset import grouper 
from nlp.dataset import yLetters2spacy

In [18]:
if 'spacy_enteties' in df2.columns:
    df = df2.drop(columns='spacy_enteties')

df2['spacy_enteties'] = np.vectorize(yLetters2spacy)(df2['text'], df2['marks'])

df2

ent_index [[51, 87]]
strada studentilor - strada florilor
spacy_transform [51, 57, 58, 69, 70, 71, 72, 78, 79, 87]
[(51, 57, 'POS'), (58, 69, 'POS'), (70, 71, 'POS'), (72, 78, 'POS'), (79, 87, 'POS')]
ent_index [[51, 87]]
strada studentilor - strada florilor
spacy_transform [51, 57, 58, 69, 70, 71, 72, 78, 79, 87]
[(51, 57, 'POS'), (58, 69, 'POS'), (70, 71, 'POS'), (72, 78, 'POS'), (79, 87, 'POS')]
ent_index [[52, 97]]
strada alecu russo - strada mircea cel batran
spacy_transform [52, 58, 59, 64, 65, 70, 71, 72, 73, 79, 80, 86, 87, 90, 91, 97]
[(52, 58, 'POS'), (59, 64, 'POS'), (65, 70, 'POS'), (71, 72, 'POS'), (73, 79, 'POS'), (80, 86, 'POS'), (87, 90, 'POS'), (91, 97, 'POS')]
ent_index [[59, 93]]
drumul de centura al mun. chisinau
spacy_transform [59, 65, 66, 68, 69, 76, 77, 79, 80, 84, 85, 93]
[(59, 65, 'POS'), (66, 68, 'POS'), (69, 76, 'POS'), (77, 79, 'POS'), (80, 84, 'POS'), (85, 93, 'POS')]
ent_index [[33, 47]]
strada miorita
spacy_transform [33, 39, 40, 47]
[(33, 39, 'POS'), (40, 47, 'POS')]
ent_index [[37, 48]]
or. briceni
spacy_transform [37, 40, 41, 48]
[(37, 40, 'POS'), (41, 48, 'POS')]
ent_index [[58, 74], [78, 94]]
strada i. franco si soseaua muncesti
spacy_transform [58, 64, 65, 67, 68, 74, 78, 85, 86, 94]
[(58, 64, 'POS'), (65, 67, 'POS'), (68, 74, 'POS'), (78, 85, 'POS'), (86, 94, 'POS')]
ent_index [[44, 82]]
strada columna - strada mihai eminescu
spacy_transform [44, 50, 51, 58, 59, 60, 61, 67, 68, 73, 74, 82]
[(44, 50, 'POS'), (51, 58, 'POS'), (59, 60, 'POS'), (61, 67, 'POS'), (68, 73, 'POS'), (74, 82, 'POS')]
ent_index [[50, 74]]
guara camencii, floresti
spacy_transform [50, 55, 56, 65, 66, 74]
[(50, 55, 'POS'), (56, 65, 'POS'), (66, 74, 'POS')]
ent_index [[44, 75]]
tr. r1 chisinau-ungheni-sculeni
spacy_transform [44, 47, 48, 50, 51, 75]
[(44, 47, 'POS'), (48, 50, 'POS'), (51, 75, 'POS')]
ent_index [[52, 82], [86, 104]]
strada nicolae milescu-spataru si strada vasile lupu
spacy_transform [52, 58, 59, 66, 67, 82, 86, 92, 93, 99, 100, 104]
[(52, 58, 'POS'), (59, 66, 'POS'), (67, 82, 'POS'), (86, 92, 'POS'), (93, 99, 'POS'), (100, 104, 'POS')]

ValueError: setting an array element with a sequence

In [13]:
def y2bars(y, text):
    """
    input: 
    - [0,1,0,1,0]
    - a b c d e
    output: a ||b|| c ||d|| e
    """
    text = text.split()
    for index,word in enumerate(zip(y,text)):
        if word[0] == 1:
            text[index] = '||'+ text[index] + '||'
    text = ' '.join(text)
    return text

x = [0,1,0,1,0]
y = 'aa bb cc dd ee'
y2bars(x,y)

'aa ||bb|| cc ||dd|| ee'

In [14]:
def spacy2bars(entities, text):
    """
    input: 
    - [(2,3,'POS'), (4,5,'POS')]
    - a b c d e
    
    output: aa ||bb|| cc ||dd|| ee
    """
    print(entities, text)
    all_ent = []
    for ent in entities:
        ent_pos = []
        ent_pos.extend([ent[0],ent[1]])
        all_ent.append(ent_pos)
    print(all_ent)
    for index,ent in enumerate(all_ent):
        print(index,ent)
        for i in text.split():
            print(i)

x = [(3,5,'POS'), (9,11,'POS')]
y = 'aa bb cc dd ee'

output = spacy2bars(x,y)
print(output)

[(3, 5, 'POS'), (9, 11, 'POS')] aa bb cc dd ee
[[3, 5], [9, 11]]
0 [3, 5]
aa
bb
cc
dd
ee
1 [9, 11]
aa
bb
cc
dd
ee
None

In [15]:
def spacy2y(entities, text):
    """
    input: 
    - [(3,5,'POS'), (9,11,'POS')]
    - aa bb cc dd ee
    output: [0,1,0,1,0]
    """
    pass

In [ ]:
def y2spacy(text, y):
    """
    input: 
    - [0,1,0,1,0]
    - a b c d e
    output: [(2,3,'POS'), (4,5,'POS')]
    """
    pass

In [ ]:
def calculate_recall(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [ ]:
def calculate_acc(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [ ]:
def calculate_acc_ignore0(y_pred, y_true):
    """calculate the accuracy just for the non-zero tokens
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [ ]:
def calculate_confusion_matrix(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass

In [ ]:
def calculate_precision(y_pred, y_true):
    """
    input: 
    - [0,1,0,1,0]
    - [0,1,0,1,0]
    output: 1
    
    
    input: 
    - [0,1,0,1,0]
    - [0,1,0,0,0]
    output: 1
    """
    pass